TAVILY_API_KEY=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
API_KEY=ms-c942eaed-d756-4c91-bd4d-83e3d43e6808
SERPAPI_API_KEY=8e68091dd76449c78200b8919052b0860be14a9e3ba784ba12c69af0b65a7948
MODE=Qwen/Qwen2.5-72B-Instruct
BASE_URL=https://api-inference.modelscope.cn/v1/
TIMEOUT=60
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=AIzaSyB2Bail9CJCeRbO5-790-B8Yqhv9Na4B2k

LOCAL_MODE=llama3
LOCAL_BASE_URL=http://localhost:11434


OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=


QWEN_API_KEY=sk-95581a5125bc40d0a96b8dbec46fbec2
QWEN_API_URL=